.board-row::after {
  clear: both;
  content: '';
  display: block;
}
.square {
  background: #FFF;
  border: 1px solid #999;
  float: left;
  height: 34px;
  width: 34px;
  line-height: 34px;
  margin-right: -1px;
  margin-bottom: -1px;
  text-align: center;
}